{% extends "base.html" %}

{% block title %} TeamsUp - Register {% endblock %}

{% block content %}
    <h1>Register</h1>

    <h3>Sign up here!</h3>

    <form action="" method="post">
        {{ template_form.hidden_tag() }}

        <p>
            {{ template_form.username(size=32, placeholder="Username") }}
            {% for error in template_form.username.errors %}
                <span style="color:red">[{{ error }}]</span>
            {% endfor%}
        </p>

        <p>
            {% for subfield in template_form.role %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr>
            {% endfor %}
            {% for error in template_form.role.errors %}
                <span style="color:red">[{{ error }}]</span>
            {% endfor%}
        </p>

        <p>
            {{ template_form.name(size=32, placeholder="Name") }}
            {% for error in template_form.name.errors %}
                <span style="color:red">[{{ error }}]</span>
            {% endfor%}
        </p>

        <p>
            {{ template_form.email(size=32, placeholder="Email") }}
            {% for error in template_form.email.errors %}
                <span style="color:red">[{{ error }}]</span>
            {% endfor%}
        </p>

        <p>{{ template_form.password(size=32, placeholder="Password") }}
            {% for error in template_form.password.errors %}
                <span style="color:red">[{{ error }}]</span>
            {% endfor%}
        </p>

        <p>{{ template_form.password2(size=32, placeholder="Repeat Passaword") }}
            {% for error in template_form.password2.errors %}
                <span style="color:red">[{{ error }}]</span>
            {% endfor%}
        </p>

        <p>{{ template_form.submit }}</p>
    </form>
{% endblock %}

{% block sidebar %}
{% endblock%}