{% extends "base.html" %}

{% block content %}
    <h1>Team Registration</h1>

    <h3>Register Your Team!</h3>

    <form action="" method="post">
        {{ template_form.hidden_tag() }}

        <p>
            {{ template_form.team_name(size=32, placeholder="Team Name") }}
            {% for error in template_form.team_name.errors %}
                <span style="color:red">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ template_form.submit }}</p>
    </form>
{% endblock%}

{% block sidebar %}
{% endblock%}