{% extends "base.html" %}

{% block title %} Athlete List {% endblock %}

{% block content %}
    <h2>Athlete Roster!</h2>
    <p>Need to register an Athlete? <a href="{{ url_for('register_athlete') }}">Click here to register a new athlete!</a></p>

    {% for athlete in athletes %} 
        <article class="main wrapper clearfix">
            <table>
                <tr>
                    <td><p>Athlete Name </p></td>
                    <td><p>DOB</p></td>
                    <td><p>Student Id</p></td>
                    <td><p>Position</p></td>
                </tr>
                <tr>
                    <td><p>{{athlete.name}}</p></td>
                    <td><p>{{athlete.date_of_birth}}</p></td>
                    <td><p>{{athlete.student_id}}</p></td>
                    <td><p>{{athlete.position}}</p></td>
                </tr>
            </table>
            <hr>
        </article>
        
    {% endfor %}
{% endblock%}

{% block sidebar %}{% endblock %}