{% extends "base.html" %}

{% block title %} Athlete List {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h2>Athlete Roster!</h2>
    <p>Need to register an Athlete? <a href="{{ url_for('register_athlete') }}">Click here to register a new athlete!</a></p>

        <table>
            <tr>
                <td><p>Athlete Name </p></td>
                <td><p>DOB</p></td>
                <td><p>Student Id</p></td>
                <td><p>Position</p></td>
                <td><p>Team</p></td>
            </tr>
            {% for athlete in athletes %} 
            <tr>
                <td><p>{{athlete.name}}</p></td>
                <td><p>{{athlete.date_of_birth}}</p></td>
                <td><p>{{athlete.student_id}}</p></td>
                <td><p>{{athlete.position}}</p></td>
                <td><p>{{athlete.team_id}}</p></td>
            </tr>
            {% endfor %}
        </table>
    
{% endblock%}

{% block sidebar %}{% endblock %}