{% extends 'base.html' %}

{% block title%} Coaches {% endblock %}

{% block content%}
    <h2>Coach and staff Roster</h2>
    <p>Need to register more coaching staff? <a href="{{ url_for('register_staff') }}">Click here to register a new members!</a></p>
        
    {% for user in coach %}
        <article class="main wrapper clearfix">
            <h3>{{ user.name }} </h3>
            <p>{{ user.role}}</p>
            <hr>
        </article>
    {% endfor %}

    {% for person in staff %} 
        <article class="main wrapper clearfix">
            <h3>{{ person.name }} </h3>
            <p>{{ person.role}}</p>
            <hr>
        </article>
    {% endfor %}

{% endblock%}