{% extends 'base.html' %}

{% block title %} Teams Up {% endblock %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    {% if current_user.is_authenticated %}
        <h1>Welcome, {{ current_user.name }}!</h1>
        <p> Let's manage your team!</p>

        <table>
            <tr>
                <td>
                    <p><a href="{{ url_for('coaches') }}">Coaches</a></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><a href="{{ url_for('team') }}">Team</a></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><a href="{{ url_for('athletes') }}">Athletes</a></p>
                </td>
            </tr>
        </table>

    {% else %}

        <h1>Welcome to Teams Up!</h1>

        <p>This site allows you to register, maintain and organize your team.</p>
    
        {% endif %}
{% endblock%}

{% block sidebar %}{% endblock %}