{% extends "base.html" %}

{% block content %}
    <h1>Athlete Registeration</h1>

    <h3>Athlete Sign Up!</h3>

    <form action="" method="post">
        {{ template_form.hidden_tag() }}

        <p>
            {{ template_form.name(size=32, placeholder="Student Name") }}
            {% for error in template_form.name.errors %}
                <span style="color:red">[{{ error }}]</span>
            {% endfor%}
        </p>

        <p>
            {{ template_form.date_of_birth(size=32, placeholder="DOB") }}
            {% for error in template_form.date_of_birth.errors %}
                <span style="color:red">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ template_form.student_id(size=32, placeholder="Student ID") }}
            {% for error in template_form.student_id.errors %}
             <span style="color:red">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ template_form.position(size=32, placeholder="Position") }}
            {% for error in template_form.position.errors %}
             <span style="color:red">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ template_form.submit }}</p>
    </form>
{% endblock %}

{% block sidebar %}
{% endblock%}
