{% extends "base.html" %}

{% block title %} Teams {% endblock %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h2>Athlete list</h2>
    
        {% if current_user.is_authenticated %}
            <p>Need to register an Athlete? <a href="{{ url_for('register_athlete') }}">Click here to register a new athlete!</a></p>
            <table>
                <tr>
                    <td><p>Athlete Name </p></td>
                    <td><p>DOB</p></td>
                    <td><p>Student Id</p></td>
                    <td><p>Position</p></td>
                </tr>
                {% for athlete in athletes %} 
                <tr>
                    <td><p>{{athlete.name}}</p></td>
                    <td><p>{{athlete.date_of_birth}}</p></td>
                    <td><p>{{athlete.student_id}}</p></td>
                    <td><p>{{athlete.position}}</p></td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Need to register an Athlete? <a href="{{ url_for('register_athlete') }}">Click here to register a new athlete!</a></p>
        {% endif %}

{% endblock %}

{% block sidebar %}{% endblock%}