{% extends 'base.html'%}

{% block content %}
    {% if current_user.is_authenticated %}
        <article>
            <h1>Welcome, {{ current_user.first_name }}!</h1>
            <h4> Let's manage your team!</h4>

            <table>
                <tr>
                    <td>
                        <p><a href="{{ url_for('coaches') }}">Coaches</a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="{{ url_for('team') }}">Team</a></p>
                    </td>
                </tr>
            </table>

        </article>
    {% else %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    {%endif%}

{% endblock %}

{% block sidebar %}{% endblock%}