{% extends 'base.html'%}

{% block content %}
    {% if current_user.is_authenticated %}
        <div>
            <div>
                <h1>Welcome, {{ current_user.first_name }}!</h1>
                <h4> Let's manage your team!</h4>
            </div>
        </div>
        <div><a href="/coaches">Coaches</a></div>
        <div><a href="/athletes">Athletes</a></div>
        <div><a href="/team">Team</a></div>
        <!-- <div><a href="/contact">Contact</a></div>  TO BE school link-->
    {% else %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    {%endif%}

{% endblock %}

{% block sidebar %}{% endblock%}